@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Mulish:wght@200;400&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Mulish", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

nav form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}

.container input {
  flex: 2;
  padding: 16.83px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.2px;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.container button {
  padding: 11px;
  background-color: white;
  color: rgba(221, 46, 46, 0.877);
  cursor: pointer;
  border-radius: 0% 25% 25% 0%;
  border-color: lightgrey;
  border-style: solid;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  border-width: 0.2px;
}

main {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.car {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.DivImg {
  height: 75%;
  width: 100%;
}

.DivImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.DivText {
  display: flex;
  flex-direction: column;
  justify-content: initial;
}

.parr1 {
  margin-top: 5px;
  font-size: 12px;
}

.parr2 {
  margin-top: 5px;
  font-size: 12px;
}

.tit {
  margin-bottom: 10000px;
}

.material-symbols-outlined {
  color: rgba(221, 46, 46, 0.877);
}
